* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  width: 100%;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.content-description {
  align-items: center;
  width: 100%;
}

.main-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

/* table css */
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid#dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

/* add book section */
.add-book {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

form {
  width: 50%;
}

.book-author {
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 8px 2px;
  outline: none;
}

.add-book-btn {
  align-self: flex-end;
  max-width: 100px;
}
